body{
  background: url("https://media1.giphy.com/media/d3PcEfjRsLUqgTGZSE/giphy.gif?cid=ecf05e47wleu8bqnlktf5geqciq6eivuba7e81951vclwzze&rid=giphy.gif&ct=g") center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
.today{
  width: 50%;
  background-color: rgb(127, 225, 255);
  border-radius: 3%;
  border-style: hidden;
  box-shadow: 10px 5px 5px rgb(110, 110, 110);
}

.otherDays{
  background-color: rgb(208, 228, 243);
  box-shadow: 10px 5px 5px rgb(110, 110, 110);
  border-radius: 3%;
  border-style: hidden;
  margin-top: 3%;
  padding-top: 1%;
 
}
.today div{
  margin:1% 3% 0% 8%;
  
}
.today img{
  width: 100%;
}

.img{
  width: 100%;
}

.input{
  background-color: rgb(245, 242, 242);
  border-radius: 8px;
  font-size:large;
  margin-top: 3%;
  margin-left: 18%;
}
.days{
  text-shadow:4px 4px 8px rgb(88, 86, 86);
  text-align: center;
}
.selectText{
  color:aliceblue;
  text-align: center;
  font-size:medium;
  text-shadow:4px 4px 8px rgb(247, 130, 63);
}

span{
  font-size: smaller;
}
.todayCol h5{
  text-shadow:4px 4px 8px rgb(88, 86, 86);
  margin-top: 10%;
}
.todayCol h6{
  text-shadow:4px 4px 8px rgb(88, 86, 86);
}
p{
  color:rgb(10, 10, 10);
  text-align: center;
  font-size:medium;
  text-shadow:4px 4px 8px rgb(88, 86, 86);
}